<style>
  .message-content {
    font-family: Arial, Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;

  }

</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Este é um email teste.</p>
  <p>Caso você não tenha solicitado, descarte o e-mail.</p>
  <p>Obrigado. <br> <strong>Equipe Litterae</strong></p>
</div>
